.cart-sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: 500;
  height: 90%;
  background-color: #f0f0f0;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  padding: 50px 10px;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.cart-sidebar .empty-cart {
    margin-top: 200px;
    text-align: center;
}

.cart-sidebar .buy-cart
{
    text-align: center;
}

.cart-sidebar .cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.7rem;
}

.cart-sidebar .cart-item-image
{
    width: 40%;
}

.cart-sidebar .cart-total {
    display: flex;
    position: fixed;
    bottom: 0;
}

.cart-sidebar .cart-total h3 {
    font-weight: 600;
}

.cart-item .cart-item-details .cart-item-quantity .increase,
.cart-item .cart-item-details .cart-item-quantity .decrease {
    cursor: pointer;
    padding: 3px;
}

.cart-sidebar.show {
  transform: translateX(0);
}
