@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 630px) {

    .image {
        display: none;
    }
    .item {
        margin: 0 auto;
    }
    
    .item-title {
        font-size: 1.2rem;
    }
    .cart-sidebar .cart-item-image {
        width: 70%;
    }

}

@media (max-width: 425px) {
    .brand {
        height: 60vh;
    }

    .brand h2 {
        font-size: 2.5rem;
    }
    .products .item {
        text-align: center;
    }
    .products {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) ;
    }
}

