html {
    font-size: 62.5%;
}

body {
    background-color: #b0ee93;
    display: grid;
    grid-template-areas: "header header header header"
                        "brand brand brand brand "
                        "guide-cart guide-cart guide-cart guide-cart"
                        "products products products products"
                        "footer footer footer footer";
                        grid-template-columns: repeat(4, 1fr);
                        font-family: 'Noto-sans', sans-serif;
                        font-size: 1.6rem;
                        font-weight: 400;
}

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
}

.header .header-container {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}



.header h1 {
    font-weight: 700;
    font-size: 3rem;
    color: rgb(129, 125, 125);
    transition: 0.3s ease-in-out;
}

.header a:hover h1 {
    color:  #2E7D32;
}

.brand {
    grid-area: brand;
    background-color: aquamarine;
    height: 89vh;
    background: url('../images/racaopets.jpg') center center no-repeat;
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.brand h2 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: default;
    font-size: 4rem;
} 

@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4; }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9; }
} 


.brand:after {
    content: url('../images/seta_preta.png');
    height: 35px;
    bottom: 40px;
    position: absolute;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

.guide-cart {
    grid-area: guide-cart;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    padding: 70px;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
.guide-cart h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: aliceblue;
    background-color: rgb(58, 58, 55);
}

.guide-cart .animals {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;

}

.guide-cart .animals li {
    text-align: center;
    background-color: rgb(60, 226, 115);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.guide-cart .animals li .animal{
    padding: 15px;
    font-weight: 600;
    color: rgb(229, 237, 245);

}

.guide-cart .animals li:hover {
    scale: 1.1;
}


.footer {
    grid-area: footer;
    background-color: #2E7D32;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 0;
    gap: 40px;
}

.footer h4 {
    font-size: 2.5rem;
    font-weight: 700;
}

.footer h5 {
    font-style: italic;
}

.footer .social i {
    transition: 0.3s;
    font-size: 2rem;
}

.footer .social a {
    margin: 20px;
}

.footer .social a:hover {
    color: #fff;
}